html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #242424;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    top: 0;
    display: flex;
    margin: 0;
    padding: 0;
    height: 80px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    background-color: #222222;
    padding: 30px;
    margin: 0;
    width: 20%;
    text-align: center;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    transition: 0.2s;
}

nav a:hover {
    background-color: #444444;
}

.banner {
    top: 80px;
}

.linkContainer {
    height: 240px;
    width: 100%;
    display: block;
}

.leftLink {

    width: 50%;
    height: 100%;
    display: inline-block;
    left: 0;
    top: 0;

    background-color: #303030;
    background-image: url("/img/review.PNG");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}

.rightLink {
    width: 50%;
    height: 100%;
    display: inline-block;
    float: right;

    background-color: white;
    background-image: url("/img/github.png");
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: center;
}

.githubLink, .projectLink {
    width: 100%;
    height: 100%;
    line-height: 235%;
    display: block;
    text-align: center;
    font-size: 102px;
    color: white;
    opacity: 0;
    transition: opacity 0.5s;
    background-color: black;
    filter: brightness(100%);
    text-decoration: none;
    font-weight: 600;
}

.leftLink a:hover, .rightLink a:hover {
    opacity: 0.7;
    transition: opacity 0.5s;
}

h1, h2, h3 {
    color: rgb(80, 78, 235);
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    text-align: center;
}

p {
    color:rgb(192, 180, 238);
    margin-right: auto;
    margin-left: auto;
    max-width: 60%;
    line-height: 1.5em;
    font-size: 1.3em;
}
#WDS {
    background-color: white;
    background-image: url("/img/wds.PNG");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

@media only screen and (max-width: 600px) {
    #me {
        display: none;
        font-size: 20px;
    }
}