* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #242424;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    margin: 40px 40px;
}
.fullWidth {
    padding: 10% 0px;
    width: 50%;
    display: block;
    text-align: center;
    float:left;
    color: black;
    filter: brightness(100%);
}
.fullWidth span {
    color: black;
    font-size: 5em;
    font-weight: bolder;
    visibility: hidden;
}
.fullWidth.github {
    background-image: url("img/github.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20em;
    background-color: white;
    transition: filter 0.7s;
}
.fullWidth.review {
    background-image: url("img/REVIEW.PNG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    background-color: #303030;
    transition: filter 0.7s;
}
.fullWidth:hover {
    filter: brightness(30%);
    transition: filter 0.7s
}
.fullWidth span:hover {
    visibility: visible;
    transition: visibility 0.7s;
}

p {
    float: left;
}

.leftLink a:hover, .rightLink a:hover {
    opacity: 0.7;
    transition: opacity 0.5s;
}

h1, h2, h3 {
    color: rgb(80, 78, 235);
}

p {
    color:rgb(192, 180, 238)
}