/* * {
    margin: 0;
    padding: 0;
} */
body {
    background-color: #242424;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    margin: 40px 40px;
}

.linkContainer {
    height: 240px;
    width: 100%;
    display: block;
    background-color: crimson;
}

.leftLink {

    width: 50%;
    height: 100%;
    display: inline-block;
    left: 0;
    top: 0;

    background-color: #303030;
    background-image: url("/img/review.PNG");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.rightLink {
    width: 50%;
    height: 100%;
    display: inline-block;
    float: right;

    background-color: white;
    background-image: url("/img/github.png");
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: center;
}

.githubLink, .projectLink {
    width: 100%;
    height: 100%;
    line-height: 235%;
    display: block;
    text-align: center;
    font-size: 102px;
    color: white;
    opacity: 0;
    transition: opacity 0.5s;
    background-color: black;
    filter: brightness(100%);
    text-decoration: none;
    font-weight: 600;
}

.leftLink a:hover, .rightLink a:hover {
    opacity: 0.7;
    transition: opacity 0.5s;
}

h1, h2, h3 {
    color: rgb(80, 78, 235);
}

p {
    color:rgb(192, 180, 238)
}
